<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Unohda paperityöt</h2>
                <hr class="light">
                <p class="text-faded">Hoidamme paperityöt, veroilmoitukset ja maksut puolestasi, jotta voit keskittyä omaan seuran johtamiseen.</p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
