<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Integraatiot</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-3 text-center">
                <div class="integration-box">
                    
                    <h4><i class="fa fa-cash-register wow bounceIn text-primary"></i> Kassa</h4>
                    <p class="text-muted">Bonware / Odoo</p>
                    <p class="text-muted">Tehden tulossa Q3/2022</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="integration-box">
                    <h4><i class="fa fa-receipt wow bounceIn text-primary" data-wow-delay=".1s"></i> Taloushallinto / Laskutus</h4>
                    <p class="text-muted text-center">Netvisor</p>
                    <p class="text-muted text-center">Emce 365</p>
                    <p class="text-muted text-center">Meritaktiva</p>
                    <p class="text-muted text-center">Finvoice</p>
                    <p class="text-muted text-center">Procountor tulossa Q3/2022</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="integration-box">
                    <h4><i class="fa fa-lightbulb wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    Valot</h4>
                    <p class="text-muted">Intesis</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="integration-box">
                    <h4><i class="fa fa-credit-card wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    Maksutavat</h4>
                    <p class="text-muted">Paytrail / Checkout</p>
                    <p class="text-muted">Stripe</p>
                    <p class="text-muted">ePassi</p>
                    <p class="text-muted">Smartum</p>
                    <p class="text-muted">Easybreak</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-3 text-center">
                <div class="integration-box">
                    <h4><i class="fa fa-signature wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    Allekirjoitukset</h4>
                    <p class="text-muted">Visma Sign</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="integration-box">
                    <h4><i class="fa fa-traffic-light wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    Kulunhallinta</h4>
                    <p class="text-muted">Tolotrack</p>
                    <p class="text-muted">Optima tulossa Q4/2022</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="integration-box">
                    <h4><i class="fa fa-envelope wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    Asiakasviestintä</h4>
                    <p class="text-muted">Mailchimp</p>
                    <p class="text-muted">Twilio (SMS)</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="integration-box">
                    <h4><i class="fa fa-globe wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    WWW</h4>
                    <p class="text-muted">Wix.com</p>
                    <p class="text-muted">Wordpress</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="integration-box">
                    <h4><i class="fa fa-fingerprint wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    Vahva tunnistautuminen</h4>
                    <p class="text-muted">Telia</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="integration-box">
                    <h4><i class="fa fa-store wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    Verkkokauppa</h4>
                    <p class="text-muted">Woocommerce</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="integration-box">
                    <h4><i class="fa fa-ellipsis wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    Muut</h4>
                    <p class="text-muted">Tennisclub.fi</p>
                    <p class="text-muted">Zenniz tulossa Q4/2022</p>
                    <p class="text-muted">Frank tulossa Q1/2023</p>
                </div>
            </div>
        </div>
    </div>
</section>