<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-6"  style="margin-bottom: 50px;">
                <h4>Hallien liiketoiminta-alusta</h4>
                <h1>Älykkäin ratkaisu varaustesi hallintaan</h1>
                <p>Cintoia Falcon on erinomainen varausjärjestelmä liikuntakeskuksenne kentille, tiloille, tapahtumille,
                    valmennuksille ja palveluille.<br />
                    Joustavin alusta jokapäiväiseen toimintaan.<br />
                    Alkuun pääset helposti ja nopeasti. Pyydä tunnukset ja kysy lisää.</p>
                <h3>Ei käyttöönottokustannusta</h3>
                <a href="#contact" class="btn btn-primary btn-xl page-scroll">Pyydä tunnukset</a>
            </div>
            <div class="col-md-6 text-center">
                <img src="/img/header-ui.png" />
            </div>
        </div>
        <div class="row" style="margin-top: 30px; margin-bottom: 40px;">
            <div class="col-md-12 text-center">
                <h4 class="text-muted">Liity kasvavaan joukkoon organisaatiota</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-2 text-center" style="margin-bottom: 20px;">
                <img src="/img/lg/tali.svg" height="40px" style="filter: brightness(200%) grayscale(100%);" />
            </div>
            <div class="col-md-2 text-center" style="margin-bottom: 20px;">
                <img src="/img/lg/taivis.svg" height="40px" style="filter: brightness(150%) grayscale(100%);" />
            </div>
            <div class="col-md-2 text-center" style="margin-bottom: 20px;">
                <img src="/img/lg/evs.png" height="40px" style="filter: brightness(200%) grayscale(100%);" />
            </div>
            <div class="col-md-2 text-center">
                <img src="/img/lg/tats.jpg" height="40px" style="filter: brightness(110%) grayscale(100%);" />
            </div>
        </div>
    </div>
</section>