<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Ominaisuudet</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-3 text-center">
                <div class="service-box">
                    <h4><i class="fa fa-calendar-days wow bounceIn text-primary"></i> Varauskalenteri</h4>
                    <p class="text-muted">Saat erinomaisen kokonaiskuvan kalenterin tilanteesta.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-box">
                    <h4><i class="fa fa-receipt wow bounceIn text-primary"></i> Monipuolinen hinnoittelu</h4>
                    <p class="text-muted">Hinnoittele päivä / kausi helposti ja joustavasti eri käyttäjätasoille tai
                        jäsenyyksille. Voit myös käyttää dynaamista hinnoittelua.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-box">
                    <h4><i class="fa fa-calendar-day wow bounceIn text-primary"></i> Vakio- ja osakevuorojen hallinta
                    </h4>
                    <p class="text-muted">Optimoitu vakiovuorojen myynti- ja hallintaprosessi sähköisellä
                        allekirjoituksella takaa nopeat ja helpot kauden vaihtumiset ilman turhia odotteluita.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-box">
                    <h4><i class="fa fa-wallet wow bounceIn text-primary"></i> Lompakot / Saldot</h4>
                    <p class="text-muted">Käyttäjillä on käytössään saldot jonne pystytte joustavasti palauttamaan irto-
                        ja vakiovuorojen perumisista ja myynneistä syntyneet palautukset.</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-3 text-center">
                <div class="service-box">

                    <h4><i class="fa fa-envelope wow bounceIn text-primary"></i> Asiakasviestintä</h4>
                    <p class="text-muted">Viestitte käyttäen kommunikaatiokanavia joilla tavoitatte asiakaskuntanne.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-box">
                    <h4><i class="fa fa-credit-card wow bounceIn text-primary"></i> Online maksut</h4>
                    <p class="text-muted">Käytössänne on parhaat tavat maksaa varaukset netissä.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-box">
                    <h4><i class="fa fa-cash-register wow bounceIn text-primary"></i> Kassamaksut</h4>
                    <p class="text-muted">Asiakaspalvelija voi kuitata vuorojen maksut nopeasti yhdellä toiminnolla
                        suoraan käyttäen kassajärjestelmää.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-box">
                    <h4><i class="fa fa-lightbulb wow bounceIn text-primary"></i> Valot</h4>
                    <p class="text-muted">Hallissa ei turhaan pidetä valoja, vaan ne ohjautuvat varausten mukaan.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="service-box">

                    <h4><i class="fa fa-traffic-light wow bounceIn text-primary"></i> Kulku</h4>
                    <p class="text-muted">Käyttäjillä on henkilökohtaiset PIN-koodit joilla he pääsevät kulkemaan
                        varaustensa mukaisesti.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-box">
                    <h4><i class="fa fa-clipboard-list wow bounceIn text-primary"></i> Tapahtumat</h4>
                    <p class="text-muted">Saat hallillasi järjestettävät tapahtumat kätevästi asiakkaille näkyviin.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-box">
                    <h4><i class="fa fa-mobile-screen wow bounceIn text-primary"></i> Mobiiliystävällinen</h4>
                    <p class="text-muted">Asiakkaat voivat tehdä varaukset omatoimisesti koska tahansa kaikilta
                        laitteilta.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-box">
                    <h4><i class="fa fa-users wow bounceIn text-primary"></i> Asiakaspalvelu</h4>
                    <p class="text-muted">Ystävällinen ja maan parhaalla asiantuntemuksella varustettu teamimme on
                        valmiina auttamaan sinua.</p>
                </div>
            </div>
        </div>
    </div>

</section>