<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4"  style="margin-bottom: 50px;">
                <h3>Cintoia Falcon</h3>
                <h4>Varausjärjestelmä</h4>
                <button type="button" class="btn btn-xl btn-primary" disabled="disabled">Kirjaudu</button>
                <!-- <a href="https://falcon.cintoia.com" class="btn btn-primary btn-xl page-scroll">Kirjaudu</a> -->
            </div>
            <div class="col-md-4"  style="margin-bottom: 50px;">
                <h3>Cintoia Feel</h3>
                <h4>Seurajärjestelmä</h4>
                <a href="https://feel.cintoia.com" class="btn btn-primary btn-xl page-scroll">Kirjaudu</a>
            </div>
            <div class="col-md-4"  style="margin-bottom: 50px;">
                <h3>Cintoia Feeltrack</h3>
                <h4>Seuran työajanseuranta</h4>
                <a href="https://feeltrack.cintoia.com" class="btn btn-primary btn-xl page-scroll">Kirjaudu</a>
            </div>
        </div>
    </div>
</section>