<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Palvelumme</h2>
                <hr class="primary">
                <p class="text-muted">Palveluidemme avulla voit keskittyä seuran ydintoimintaan. Me hoidamme aikaa
                    vievät toimistorutiinit ja erityisosaamista vaativat asiantuntijatyöt puolestasi. Voit räätälöidä
                    palveluistamme juuri teille sopivan kokonaisuuden. Palvelumme sopivat myös osakeyhtiönä toimiville
                    liikuntapaikoille ja muille urheiluyhteisöille.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pie-chart wow bounceIn text-primary"></i>
                    <h3>Talous</h3>
                    <p class="text-muted">Unohda paperityöt. Hoidamme paperityöt, kirjanpidon, laskutuksen,
                        veroilmoitukset ja maksut puolestasi, jotta voit keskittyä omaan seuran johtamiseen.</p>
                    <p class="text-muted">Kirjanpito</p>
                    <p class="text-muted">Osto- ja myyntilaskut</p>
                    <p class="text-muted">Veroilmoitukset</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-group wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Henkilöstö</h3>
                    <p class="text-muted">Hoidamme palkanlaskennan ja maksun, palkkailmoitukset sekä
                        työaikaraportoinnin. Huolehdimme myös, että työsopimuksesi ovat ajantasalla ja täyttävät
                        lainsäädännön asettamat vaatimukset.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Lakipalvelut</h3>
                    <p class="text-muted">Tarvitsetko apua sopimusasioissa, verotuksessa, yhdistyksen hallinnossa tai
                        muissa seuratoimintaan liittyvissä kysymyksissä? Tarjoamme ratkaisuja yksittäisiin kysymyksiin
                        tai laajempiin kokonaisuuksiin.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Viestintä</h3>
                    <p class="text-muted">Helpotamme monikavanavaisen viestinnän tekemistä ja seurattavuutta. Voit myös
                        jättää sisällön tuottamisen meille.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-compass wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Kehitysprojektit</h3>
                    <p class="text-muted">Oletteko tekemässä uutta strategiaa, käynnistämässä hallihanketta tai muuta
                        uutta projektia. Tarjoamme projektinjohtoa tai konsultointia tarpeenne mukaan.</p>
                </div>
            </div>
            <!--
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted"></p>
                </div>
            </div>
            -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Lisää tulossa</h3>
                    <p class="text-muted"></p>
                </div>
            </div>
        </div>
    </div>
</section>