<div class="container h-100">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 mb-3">
      <div class="row g-0">
        <div class="col-4">
          <img
            src="https://source.unsplash.com/random/160x160/?tennis"
            class="img-fluid rounded-start h-100 object-fit-cover float-end"
            alt="..."
          />
        </div>
        <div class="col-8 col-md-6 p-2 bg-light">
          <h5><b>Pelaamaan menossa</b></h5>
          <p class="align-left">
            Parhaat klubit löydät täältä. Valitse laji ja varaa aika.
          </p>
          <button class="btn btn-primary" type="submit">Button</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center align-items-center mt-5">
    <div class="col-12 mb-3 text-center">
      <h3>Yrityksille ja yhdistyksille</h3>
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-12 mb-3">
      <div class="row g-0">
        <div class="col-4">
          <img
            src="https://source.unsplash.com/random/160x160/?software"
            class="img-fluid rounded-start h-100 object-fit-cover float-end"
            alt="..."
          />
        </div>
        <div class="col-8 col-md-6 p-2 bg-light">
          <h5></h5>
          <h6><b>Cintoia Booking</b> - Varausjärjestelmä</h6>
          <p class="align-left">
            <small>
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit sjdskjdsjdksjdksd
              longer.</small
            >
          </p>
          <button class="btn btn-primary float-start" type="submit">
            Button
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-12 mb-3">
      <div class="row g-0">
        <div class="col-4">
          <img
            src="https://source.unsplash.com/random/160x160/?accounting"
            class="img-fluid rounded-start h-100 object-fit-cover float-end"
            alt="..."
          />
        </div>
        <div class="col-8 col-md-6 p-2 bg-light">
          <h6><b>Cintoia Accouting</b> - Taloushallinto ja kirjanpito</h6>
          <p class="align-left">
            <small>
              This is a wider card with supporting text below as a natural
              longer.</small
            >
          </p>
          <button type="button" class="btn btn-primary btn-lg float-start">
            Large button
          </button>
        </div>
      </div>
    </div>
  </div>


</div>
