<html>
  <head><title>Cintoia Privacy policy for Ios</title></head>
  <body>
    <pre>
    YKSITYISYYSKÄYTÄNTÖ
 
SUOMI
Voimaantulopäivä: 1. kesäkuuta 2021

Nämä tietosuojakäytännöt kuvaavat:

Menetelmät, joilla keräämme sinuun liittyviä henkilötietoja, ja miksi toimimme näin
Kuinka käytämme henkilötietojasi, ja
Vaihtoehdot, joita sinulla on henkilötietoihisi liittyen.
Näitä tietosuojakäytäntöjä sovelletaan Cintoian peleihin, kauppaan, verkkosivustoihin ja liittyviin palveluihin, joita kutsumme kokonaisuutena Palveluksi. Saatamme päivittää tätä tietosuojakäytäntöä ajoittain julkaisemalla uuden version sivustolla cintoia.com. Jos teemme minkäänlaisia merkittäviä muutoksia, ilmoitamme sinulle sovellettavissa olevan lainsäädännön vaatimalla tavalla esimerkiksi lähettämällä viestin Palveluun ennen muutoksen voimaantuloa. Palvelun osalta käyttösi jatkaminen voimaantulopäivän jälkeen toteutuu uuden tietosuojan mukaisesti.

OTA YHTEYTTÄ
Jos sinulla on kysymyksiä tietosuojaan liittyen, tai mikäli sinulla on pyyntöjä henkilötietoihisi liittyvien ongelmien suhteen,
pyydämme sinua ensisijaisesti ottamaan osoitteella info@cintoia.com sähköpostin välityksellä.

TIEDOT, JOITA KERÄÄMME
Keräämiemme henkilökohtaisten tietojen tyyppi riippuu käytetystä palvelusta ja sovellettavissa olevan lainsäädännön vaatimuksista.

Tiedot, jotka annat meille suoraan
Yhteystiedot (kuten nimi ja sähköpostiosoite tai puhelinnumero)
Pelaajanimi tai -tunniste ja salasana
Profiilitiedot (kuten profiilikuva)
Viestisi Palveluun (kuten keskustelulokit ja tukipyynnöt)
Muut tiedot, jotka päätät antaa meille (esimerkiksi tiedot menetetyn tilin tunnistamista varten tai tiedot, joita annat osallistuaksesi kyselyyn tai markkinointitapahtumaan).
Tiedot, jotka keräämme automaattisesti
Tiedot tilistäsi, useimmissa tapauksissa mukaan lukien automaattisesti luodut sisäiset tilitunnukset
IP-osoitteesi ja mobiililaitetunnisteet (kuten laitetunnuksesi tai mainostustunnus)
Tiedot liittyen laitteeseesi, kuten laitenimi ja käyttöjärjestelmä, selaimen tyyppi ja kieli, internet-palveluntarjoajasi ja matkapuhelinoperaattorisi
Tiedot, jotka keräämme evästeillä ja vastaavilla teknologioilla (ks. tarkemmin jäljempänä)
Likiarvoiset sijaintitiedot (johdettuna IP-osoitteesta)
Tiedot liittyen Palvelun käyttöösi, kuten käyttötiedot, tehdyt ostokset ja vuorovaikutuksesi muiden käyttäjien kanssa Palvelussa

MIKSI KERÄÄMME TIETOJASI
Käytämme tietojasi erilaisiin liiketoimintatarkoituksiin, kuten:

Palvelun toiminta
Sopimusvelvoitteemme täyttämiseksi käsittelemme tietoja, joita tarvitaan

tilien luontiin sekä mahdollistamaan peliemme pelaaminen ja Palvelun käyttö
Palvelun tarjoamiseen
maksujen varmistuksiin ja vahvistuksiin
pyytämiesi tuotteiden ja palveluiden tuottamiseen ja toimittamiseen
Palveluun liittyvien viestien lähettämiseen sinulle.
Palvelun tuottaminen soveltuvammaksi pelaajiamme varten
Erinomaisen Palvelun tarjoamiseksi pelaajillemme meillä on laillinen peruste kerätä ja käsitellä tarpeellisia tietoja, jotta voimme

päivittää ja kehittää käyttäjäprofiileja
kehittää ja parantaa Palvelua ja pelaajakokemusta
hallita suhdettamme sinuun
tarjota sosiaalisia ominaisuuksia osana Palvelua
mukauttaa kokemustasi Palvelun parissa
vastata kommentteihisi ja kysymyksiisi ja tarjota pelaajatukea
tarjota sinulle Cintoia-tarjouksia Palvelussa sekä myös muilla verkkosivustoilla ja palveluissa, sekä sähköpostitse
lähettää sinulle asiaan liittyviä tietoja, kuten päivityksiä, turvallisuusvaroituksia ja tukiviestejä
tarjota sinulle mahdollisuuden viestintään muiden pelaajien kanssa.
Henkilökohtaistettujen mainosten näyttäminen
Näyttääksemme sinulle henkilökohtaistettuja mainoksia Palvelussa sekä muilla verkkosivustoilla ja palveluissa (mukaan lukien sähköposti) meillä on laillinen peruste käsitellä tarpeellisia tietoja voidaksemme
seurata Palveluun liittyvän sisällön käyttöäsi sekä verkkokäyttäytymistäsi
toimittaa, kohdentaa ja parantaa mainontaa ja Palvelua.
Lisätietoja henkilökohtaistetun mainonnan lakkauttamisesta on jäljempänä kohdassa Oikeutesi ja vaihtoehtosi.

Palvelun pitäminen turvallisena ja tasapuolisena
Tasavertaisuuden varmistaminen Palvelussa on yksi merkittävimpiä prioriteettejamme. Jos haluat lisätietoja hyväksyttävän käytön käytännöistämme, ks. Supercell-käyttöehdot.

Voidaksemme pitää Palvelun ja sen sosiaaliset ominaisuudet turvallisina ja tasapuolisina, torjuaksemme petoksia ja muulla tavoin varmistaaksemme hyväksytyn käytön meillä on laillinen peruste käsitellä tietoja, jotta voimme

analysoida ja valvoa Palvelun ja sen sosiaalisten ominaisuuksien käyttöä
rajoittaa keskusteluja automaattisesti tai manuaalisesti
suorittaa toimenpiteitä petollisia tai huonosti käyttäytyviä pelaajia kohtaan.
Analysointi, profilointi ja segmentointi
Kaikissa yllä olevissa tapauksissa ja tarkoituksissa saatamme analysoida, profiloida ja segmentoida kaikkia kerättyjä tietoja.

Suostumuksellasi
Suostumuksellasi saamme käsitellä tietojasi myös muita tarkoitusperiä varten.

KUKA VOI NÄHDÄ TIETOSI
Cintoiaa lukuun ottamatta tietojasi voivat käyttää muut seuraavissa tilanteissa:

Muut yhtiöt ja julkiset viranomaiset
Voidaksemme vahvistaa maksut (maksupalveluntarjoajien, esim. Paypal, kanssa) sekä torjua petoksia ja laittomia toimia saatamme käsitellä ja jakaa tietoja muiden yhtiöiden ja organisaatioiden kanssa ja toimittaa niitä julkisille viranomaisille vastineina lainmukaisiin pyyntöihin.

Saatamme myös suostumuksellasi paljastaa tietojasi noudattaaksemme lakia tai suojataksemme omia tai pelaajiemme tai muiden oikeuksia, omaisuutta tai turvallisuutta.

KANSAINVÄLISET TIEDONSIIRROT
Toimintamme on luonteeltaan globaalia, ja tietosi voidaan tästä syystä lähettää minne tahansa maailmassa. Koska eri mailla on erilaisia tietosuojalakeja kuin omalla maallasi, pyrimme varmistamaan tiettyjen varotoimien olemassaolon, jotta tietosi pysyvät turvattuina näissä tietosuojakäytännöissä ilmaistulla tavalla. Riittävät varotoimet, joita saatamme käyttää, voivat sisältää EU-komission hyväksymät standardimalliset sopimuslausekkeet ja muut lainmukaiset varotoimet.

OIKEUTESI JA VAIHTOEHTOSI
Markkinointisähköpostien ja muiden suoramarkkinointien lopettaminen
Voit lopettaa kampanjaviestien, kuten markkinointisähköpostit, vastaanottamisen noudattamalla kyseiseen viestintään sisällytettyjä ohjeita tai vaihtamalla pelinsisäisiä asetuksiasi. Päivitetyt asetukset eivät välttämättä astu voimaan välittömästi. Huomaa, että saatat yhä saada meiltä markkinointiin liittymättömiä viestejä, kuten esimerkiksi viestejä, jotka koskevat Palvelua tai käyttöehtoihin tai tähän yksityisyyskäytäntöön liittyviä muutoksia.

Push-ilmoitukset
Saatamme lähettää sinulle push-ilmoituksia mobiilisovellustemme kautta. Voit milloin tahansa lopettaa näiden viestien vastaanottamisen muuttamalla mobiililaitteesi asetuksia.

Käyttöoikeus henkilötietoihin, joita meillä on sinuun liittyen
Jos pyydät, toimitamme sinulle kopion henkilökohtaisista tiedoistasi sähköisessä muodossa.

Muut oikeutesi
Sinulla on myös oikeus korjata tietojasi, poistaa tietosi, vastustaa tapaa, jolla käytämme tai jaamme tietojasi, sekä rajoittaa sitä, kuinka käytämme tai jaamme tietojasi. Voit milloin tahansa evätä suostumuksesi.

Vastaamme kaikkiin pyyntöihin kohtuullisen ajan kuluessa.  Jos sinulla on ratkaisemattomia yksityisyyteen tai tietojen käyttöön liittyviä huolia, joita emme ole käsitelleet sinua tyydyttävällä tavalla, voit myös ottaa yhteyttä paikalliseen tietosuojaviranomaiseen Euroopan talousalueen, Sveitsin tai Yhdistyneen kuningaskunnan alueella.

Jos haluat käyttää mitä tahansa yllä kuvatuista tietojasi koskevista oikeuksistasi, käytä edellä olleessa Ota yhteyttä ‑osiossa olevia tukikeinoja. Me vastaamme kaikkiin pyyntöihin sovellettavissa olevan lainsäädännön velvoittamalla tavalla. Varjellaksemme yksityisyyttäsi me saatamme pyytää sinua vahvistamaan henkilöllisyytesi ennen pyyntösi toteuttamista esimerkiksi pyytämällä sinulta ostokuittia tai muuta tilitietoa, pyytämällä sinua linkittämään sähköpostiosoitteesi pelitiliisi (esimerkiksi Supercell ID:n kautta) tai pyytämällä sinua vastaamaan kysymyksiin, jotka koskevat toimintaasi Palvelussa. Kun olet vahvistanut henkilöllisyytesi, voit myös nimittää valtuutetun tahon toimimaan puolestasi antamalla kyseisen tahon yhteystiedot tukihenkilöstöllemme sovellettavissa olevan lainsäädännön mukaisella tavalla.

Sinulla on oikeus siihen, että sinua ei kohdella syrjivästi näitä oikeuksia käyttäessäsi.

EVÄSTEET JA VASTAAVAT TEKNOLOGIAT
Kuten useimmat verkkopalvelut, me käytämme evästeitä ja vastaavia teknologioita, jotta voisimme toimittaa Palvelun ja räätälöidä sitä henkilökohtaisemmaksi sekä analysoidaksemme sen käyttöä ja torjuaksemme petoksia. Evästeitä ja muita vastaavia teknologioita käyttämällä me ja kumppanimme voimme tallentaa asetukset ja seurata toimintaasi Palvelussa. Huomaa, että nämä kumppanit voivat toimia omien tietosuojakäytäntöjensä puitteissa.

Me ja varastoimme tietoa käyttäjien vuorovaikutuksesta sellaisten Palveluun liittymättömien sivustojen ja sovellusten kanssa, jotka käyttävät teknologioitamme, mukaan lukien evästeitä ja vastaavia seurantateknologioita. Näin kykenemme päättelemään yhden yhteisen käyttäjän tai talouden, joka käyttää useita laitteita tai selaimia, ja pystymme linkittämään kaikki kyseiset selaimet ja laitteet laitekuvaajaan. Teemme niin, jotta voimme

havaita ja ehkäistä petoksia
antaa käyttäjien käyttää Palvelua yhdellä laitteella ja jatkaa käyttämistä saumattomasti toisella laitteella
analysoida, räätälöidä ja attribuoida
Voit poistaa evästeet käytöstä selaimesi asetuksissa, mutta jotkin Palvelun osat eivät tällöin ehkä toimi oikein.

MITEN SUOJAAMME TIETOSI
Turvallisuusvarotoimet
Turvallisen ja varman pelaajakokemuksen tarjoamiseksi kehitämme ja otamme jatkuvasti käyttöön hallinnollisia, teknisiä ja fyysisiä turvallisuustoimenpiteitä suojataksemme tietojasi luvattomalta käytöltä ja katoamista, väärinkäyttöä tai muuttamista vastaan.

Tietojen säilytysaika
Säilytämme tietosi niin pitkään kuin tilisi on aktiivinen tai kun säilytys on tarpeellista Palvelun tuottamiseksi. Saatamme ajoittain anonymisoida ja poistaa käyttämättömät käyttäjätilit, ja saatamme tarkastaa, anonymisoida ja poistaa säännöllisesti tarpeettomia tietoja.
Huomaa, että jos pyydät meitä poistamaan henkilökohtaiset tietosi, säilytämme tietosi niin pitkään, kuin on tarpeellista laillisten liiketoiminnan intressien, kuten laillisten vaatimusten noudattaminen, riitojen ratkaisu ja sopimustemme ylläpito, näkökulmasta.

LAPSET
Lasten yksityisyyden suojaaminen verkossa on meille tärkeä asia. Yleisesti ottaen Palvelumme ei ole suunnattu alle 13-vuotiaille lapsille (ikä voi vaihdella paikallisen lainsäädännön mukaan) eikä Palvelu tietoisesti kerää lasten henkilökohtaisia tietoja paitsi seuraavassa kappaleessa kuvatulla tavalla.

Sellaisten sovellusten tapauksessa, joita ei ole suunnattu lapsille, mutta jotka silti saattavat vedota lapsiin, pyrimme käyttämään lisätoimia rajoittaaksemme Palvelun käyttöä pelaajan iän perusteella. Näiden Palveluiden tapauksessa lapsen ilmoittaessa olevansa alle 13-vuotias (ikä voi vaihdella alueen mukaan) rajoitamme hänen käyttöoikeuttaan tiettyihin ominaisuuksiin, kuten sosiaaliseen mediaan ja chat-ominaisuuksiin. Lisäksi vältämme määrätynlaisten ilmoitusten julkaisemista. Me myös rajoitamme henkilökohtaisten tietojen käsittelyn vain Palvelujen sisäiselle toiminnalle välttämättömiin tietoihin.

Huomaa, että jotkin Palvelumme voivat soveltaa korkeampaa ikärajaa (esim. 16) kuin mitä yllä olevissa kappaleissa mainitaan. Teemme tämän tarjotaksemme turvallisen pelikokemuksen pelaajillemme ja suojellaksemme nuoria pelaajia.

Jos olet huoltaja ja haluat tarkastaa lapsestasi kerättyjä tietoja, tai jos haluat tietoja muokattavan tai hävitettävän, voit ottaa meihin yhteyttä aiemmin kuvatulla tavalla. Jos tietoomme tulee, että lapsi on antanut meille muutakin henkilökohtaista tietoa kuin yllä eritellyt, poistamme kaikki keräämämme tiedot, paitsi jos meillä laillinen velvollisuus säilyttää tiedot, ja poistamme lapsen tilin ja/tai muutamme tilin alaikäiselle sopivaksi tiliksi tilanteen mukaan.
</pre>
  </body>
</html>