<!DOCTYPE html>
<html>
  <head><title>Seloste henkilötietojen käsittelytoimista</title></head>
  <body>
    <pre>

      Seloste henkilötietojen käsittelytoimista

      1. Rekisterinpitäjän nimi ja yhteystiedot
      
      Cintoia Oy (myöhemmin palveluntarjoaja)
      yhteystieto info@cintoia.com
      
      2. Käsittelyn tarkoitukset
      
      Henkilötietojen käsittelyperusteena on henkilön sopimussuhde palveluntarjoajaan. Rekisteröitymällä palveluntarjoajan järjestelmään käyttäjä hyväksyy henkilötietojen käsittelyn. Tietoja käsitellään seuraaviin tarkoituksiin:
      * palvelun käyttö
      * palvelun toiminnan analysointi ja tilastointi
      * muut palvelun ylläpitoon liittyvät toimet
      * sähköinen ja muu viestintä
      * muut lakisääteiset velvoitteet
      * muut tarkoitukset, joihin henkilö on antanut suostumuksensa
      
      3. Kuvaus rekisteröityjen ryhmistä ja henkilötietoryhmistä
      
      Henkilörekisterissä käsitellään seuraavia tietoja:
      * henkilön nimi, postiosoite, sähköpostiosoite, puhelinnumero
      * palvelun käyttäjätiedot (käyttäjätunnus ja salasana, kirjautumistiedot)
      * luvat ja suostumukset
      * palvelun käyttöön liittyvät tiedot (esim. varaukset, maksut)
      * muut asiakkaan suostumuksella kerätyt tiedot
      
      4. Säännönmukaiset tietolähteet
      
      Rekistereissä olevat tiedot kerätään seuraavista lähteistä:
      * henkilöltä itseltään rekisteröitymisen yhteydessä
      * väestötietojärjestelmästä tai muusta vastaavasta yhteystietorekisteristä
      * henkilön käyttämien palveluiden perusteella
      
      5. Henkilötietojen säännönmukaiset luovutukset
      
      Henkilötietoja luovutetaan niille kolmansille osapuolille, joiden palveluita henkilö käyttää osana rekisterinpitäjän palvelua. Henkilötietoja luovutetaan myös maksunvälitykseen liittyville palveluntarjoajille, mikäli henkilö käyttää maksupalveluita.
      Tietoja voidaan myös luovuttaa muihin tarkoituksiin, joihin rekisteröity on antanut nimenomaisen suostumuksensa. Rekisteröidyllä on oikeus peruuttaa suostumus ottamalla yhteyttä kohdassa 1 mainittuun yhteyshenkilöön.
      
      6. Tietojen siirto kolmansiin maihin tai kansainvälisille järjestöille
      
      Tietoja luovutetaan vain sellaisiin kolmansiin maihin, jotka EU:n komission on hyväksynyt riittävän tietosuojatason omaaviksi maiksi. Lista hyväksytyitä maista löytyy osoitteesta https://ec.europa.eu/info/law/law-topic/data-protection/data-transfers-outside-eu/adequacy-protection-personal-data-non-eu-countries_en.
      
      7. Tietojen säilytysaika
      
      Tietoja säilytetään niin kauan, kun henkilö käyttää palveluita. Tiedot poistetaan kohtuullisen ajan kuluessa siitä, kun palveluiden käyttö on päättynyt, ellei tietojen säilyttämiselle ole muuta laillista perustetta.
      
      8.  Kuvaus teknisistä ja organisatorisista turvatoimista
      
      Henkilötiedot säilytetään ainoastaan sähköisessä muodossa palvelimella, joka on suojattu palomuurilla ja tietoihin pääsee käsiksi vain salattua yhteyttä käyttämällä. Henkilötietoja käsittelevät vain ne, joilla on tehtäviensä suorittamiseksi tarve tietoihin. Niitä, joilla on pääsy tietoihin, on ohjeistettu käsittelemään tietoja lainmukaisesti.
      
      9.  Rekisteröidyn oikeudet
      
      Oikeus saada pääsy tietoihin
      Rekisteröidyllä on oikeus saada pääsy häntä koskeviin henkilötietoihin. Pyyntö on osoitettava kohdassa 1 mainitulle henkilölle.
      
      Oikeus vaatia tietojen oikaisemiseen
      Rekisteröidyllä on EU:n tietosuoja-asetuksen 16 artiklan mukainen oikeus vaatia, että rekisterinpitäjä oikaisee häntä koskevat virheelliset henkilötiedot. Pyyntö on osoitettava kohdassa 1 mainitulle henkilölle.
      
      Oikeus tietojen poistamiseen
      Rekisteröidyllä on EU:n tietosuoja-asetuksen 17 artiklan mukainen oikeus saada rekisterinpitäjä poistamaan rekisteröityä koskevat henkilötiedot, ellei käsittelyyn ole laillista perustetta. Pyyntö ja sen perusteet on osoitettava kohdassa 1 mainitulle henkilölle.
      
      Oikeus käsittelyn rajoittamiseen
      Rekisteröidyllä on EU:n tietosuoja-asetuksen 18 artiklan mukainen oikeus siihen, että rekisterinpitäjä rajoittaa häntä koskevien henkilötietojen käsittelyä. Pyyntö ja sen perusteet on osoitettava kohdassa 1 mainitulle henkilölle.
      
      Oikeus tietojen siirtämiseen
      Rekisteröidyllä on EU:n tietosuoja-asetuksen 20 artiklan mukainen oikeus siirtää rekisterinpitäjälle toimittamansa häntä koskevat henkilötiedot toiselle rekisterinpitäjälle. Pyyntö on osoitettava kohdassa 1 mainitulle henkilölle.
      
      Oikeus vastustaa tietojen käsittelyä
      Rekisteröidyllä on EU:n tietosuoja-asetuksen 21 artiklan mukainen oikeus vastustaa tietojen käsittelyä. Pyyntö ja sen perusteet on osoitettava kohdassa 1 mainitulle henkilölle.
      
      Oikeus tehdä valitus valvontaviranomaiselle
      Rekisteröidyllä on EU:n tietosuoja-asetuksen 77 artiklan mukainen oikeus tehdä valitus valvontaviranomaiselle Tietosuojavaltuutetun toimistoon, jos hän katsoo, että henkilötietoja on käsitelty lainvastaisesti.
      
    </pre>
  </body>
</html>